<a href="https://colab.research.google.com/github/thiagovicino/python_analise_dados/blob/main/hemeroteca_peb_analise_dados_Thiago.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import numpy as np
import pandas as pd

In [46]:
print("Olá, mundo!")

Olá, mundo!

#Pandas Series

In [47]:
lista_paises = ["Brasil", "Angola", "Portugal", "Timor Leste", "Moçambique"]
lista_populacao = [214, 33.93, 10.3, 1.34, 32.16]
paises = pd.Series(data=lista_populacao, index=lista_paises)
#Dataframe é uma matriz de dados
#Series, ao contrário, diz respeito a uma linha da matriz (dataframe)
paises.name = "PAISES"
paises.index.name = "POPULAÇÃO"
paises
tamanho = paises.size
print(f"A quantidade de países é: {tamanho}")
dados = paises.values
print(dados)
rotulos = paises.index
rotulos
paises

A quantidade de países é: 5
[214.    33.93  10.3    1.34  32.16]

POPULAÇÃO
Brasil         214.00
Angola          33.93
Portugal        10.30
Timor Leste      1.34
Moçambique      32.16
Name: PAISES, dtype: float64

# Pandas - DataFrame

In [48]:
dados = {
    "nomes": ["Brasil", "Angola", "Portugal", "Timor Leste", "Moçambique"],
    "população": [214, 33.93, 10.3, 1.34, 32.16]
}
siglas = ["BRA", "ANG", "POR", "TML", "MOC"]
paises = pd.DataFrame(data=dados, index=siglas)
paises

           nomes  população
BRA       Brasil     214.00
ANG       Angola      33.93
POR     Portugal      10.30
TML  Timor Leste       1.34
MOC   Moçambique      32.16

## Propriedades

In [49]:
formato = paises.shape
print(f"linhas x colunas: {formato}")
type(formato)

linhas x colunas: (5, 2)

tuple

In [50]:
numero_linhas = paises.shape[0]
numero_linhas

5

In [51]:
numero_linhas = paises.shape[1]
numero_linhas

2

In [52]:
indices = paises.index
indices

Index(['BRA', 'ANG', 'POR', 'TML', 'MOC'], dtype='object')

In [53]:
colunas = paises.columns
colunas

Index(['nomes', 'população'], dtype='object')

In [54]:
tipo = type(paises)
tipo

pandas.core.frame.DataFrame

In [55]:
tipo = paises.dtypes
tipo

nomes         object
população    float64
dtype: object

# Consulta e modificação de dados

In [56]:
paises.iloc[1]

nomes        Angola
população     33.93
Name: ANG, dtype: object

In [57]:
paises.iat[1,0]

'Angola'

In [58]:
paises.iloc[0]["nomes"]

'Brasil'

In [60]:
paises.loc["BRA"]["população"]

214.0

In [61]:
paises.at["BRA", "população"]

214.0

In [62]:
paises["população"]

BRA    214.00
ANG     33.93
POR     10.30
TML      1.34
MOC     32.16
Name: população, dtype: float64

In [66]:
csv = "contexto_inter.csv"
contexto = pd.read_csv(csv)
contexto["AU"]

0                                  Eugênio Vargas Garcia
1                                 Juan Gabriel Tokatlian
2                         Maria Guadalupe Moog Rodrigues
3                                        Mark Everingham
4                                            Mônica Herz
                             ...
419    Leandro Wolpert dos Santos;André Pimentel Ferr...
420                       Cairo Gabriel Borges Junqueira
421           Virginia Soledad Busilli;María Belén Jaime
422               Bruno Hendler;André Luiz Cançado Motta
423                                João Fernando Finazzi
Name: AU, Length: 424, dtype: object

# Gráficos

In [ ]:
barras = paises.plot(kind="bar", color=["#E84A28"])
barras

# Trabalhando com arquivos .csv

# Trabalhando com arquivos de texto .json